//light mode
:root{
    --menu: #b7a735;
    --wheat: wheat;
    --bordo: #3a090a;
    --titulos: #fff3dc;
}

@media (prefers-color-scheme: light){
    :root{
        --menu: #b7a735;
        --wheat: wheat;
        --bordo: #3a090a;
        --titulos: #fff3dc;
    }
}

@media (prefers-color-scheme: dark){
    :root{
        --menu: #b7a735;
        --wheat: wheat;
        --bordo:  #3a090a;
        --titulos: #fff3dc;
    }
}

//dark mode

