@import "var_anim_mix.scss";

@media (min-width: 0) {
  .header{
    height: 100vh
  }
  .quienesSomos{
    .parallaxQuienesSomos{
        @include sizes(100%,100%);
        .bcg1{
          @include sizes(100%,100%);
        }
    }
  }
  .card {
    min-height: 680px;
  }
}


@media (min-width: 321px) {
    .quienesSomos{
        .parallaxQuienesSomos{
            .bcg1{
              background-size: 100vw 100%;
            }
        }
    }
    .card {
      min-height: 680px;
    }
  }
  
  @media (min-width: 426px) {
    .quienesSomos{
      .parallaxQuienesSomos{
          .bcg1{
            @include sizes(100%,150%);
          }
      }
    }
  
    .header {
      height: 500px;
    }
    .integrantes__descripcion {
      min-height: auto;
      .card {
        width: 75% !important;
        min-height: 500px;
      }
    }
  }
  

  








  @media (min-width: 768px) {
    .header {
      height: 100vh;
    }
  
    .quienesSomos{
      .parallaxQuienesSomos{
          .bcg1{
            @include sizes(100%,150%);
          }
      }
    }
    .integrantes {
      .integrantes__descripcion {
        min-height: 1000px;
      }
    }
    .contacto {
      .content-wrapper {
        h4 {
          font-size: 80px;
        }
      }
    }
  }
  
  @media(min-width: 1024px){
    .quienesSomos{
      .parallaxQuienesSomos{
          .bcg1{
            @include sizes(100%, 150%);
          }
      }
    }
  }