* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 2500px;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    .header__image {
        width: 96%;
        height: 96%;
    }
}

.navBar {
    z-index: 99;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: #b7a735;
    .navBar__desktop {
        width: 100%;
        display: grid;
        grid-template-areas: "nosotros integrantes shows contacto";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        list-style: none;
        text-align: center;
        a {
            color: white;
            text-decoration: none;
        }
        #quienesSomos {
            grid-area: "nosotros";
        }
        #integrantes {
            grid-area: "shows";
        }
        #contacto {
            grid-area: "contacto";
        }
    }
}

main {
    .quienesSomos {
        .bcg-parallax {
            height: 50vh;
            padding: 150px 0;
            color: #FFF;
            background-color: #000;
            text-align: center;
            overflow: hidden;
            position: relative;
            .bcg {
                background: url("/assets/img/tango.jpg");
                background-position: center;
                background-size: cover;
                position: absolute;
                width: 100%;
                height: 150%;
                top: 0;
                z-index: 1;
                opacity: 1;
            }
            .content-wrapper {
                display: flex;
                width: 90%;
                margin: 0 auto;
                max-width: 1140px;
                position: relative;
                font-size: 100px;
                z-index: 2;
            }
        }
        .quienesSomosDescripcion {
            background-color: black;
        }
    }
}