@import "var_anim_mix.scss";
@import "responsive.scss";
@import "colors.scss";


* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgb(36, 36, 36);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 22px;
    background-color: var(--wheat);
    border: 1px solid black;
  }
  &::-webkit-scrollbar-corner {
    border-radius: 22px;
  }
}

body {
  min-height: 2500px;
  scroll-behavior: smooth;
}

//*************************************HEADER********************************************
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  .header__image {
    @include sizes(100%, 100%);
  }
}

//*************************************NAVBAR***********************************************
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  top: 0;
  @include sizes(100%, 40px);
  z-index: 99;
  background-color: var(--menu);
  #laOrtiba {
    display: none;
  }
  label,
  input,
  .menuToggle {
    display: none;
  }
  .navBar__desktop {
    display: grid;
    grid-template-areas: "nosotros integrantes shows contacto";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 100%;

    a {
      color: white;
      text-decoration: none;
      transition: 350ms;
      font-weight: 800;
      user-select: none;
      &:hover {
        color: var(--bordo);
        cursor: pointer;
      }
    }
    #quienesSomos {
      grid-area: "nosotros";
    }
    #integrantes {
      grid-area: "shows";
    }
    #contacto {
      grid-area: "contacto";
    }
  }
  .menuToggle {
    ul {
      li {
        display: none;
        a {
          display: none;
        }
      }
    }
  }
}

//**************************************MAIN****************************************************
main {
  //*********************************QUIENES SOMOS********************************************
  .quienesSomos {
    .parallaxQuienesSomos {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      height: 60vh;
      padding: 150px 0;
      color: var(--titulos);
      background-color: #000;
      .bcg1 {
        background: url("../img/foto2.jpg");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: -60px;
        @include filtro;
      }
      .content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @include sizes(90%, 100%);
        max-width: 1140px;
        h1 {
          display: flex;
          align-self: center;
          justify-self: center;
          text-align: center;
          font-size: 70px;
        }
      }
    }
    .quienesSomos__descripcion {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      min-height: 200px;
      padding: 30px;
      font-size: 25px;
      text-align: center;
      line-height: 40px;
      color: var(--wheat);
      background-color: var(--bordo);
      @include bordesContenedor;
    }
  }
  //****************************************INTEGRANTES******************************************
  .integrantes {
    .parallaxIntegrantes {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      height: 60vh;
      padding: 150px 0;
      color: var(--titulos);
      background-color: #000;
      .bcg2 {
        background: url("../img/foto.jpg");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: -20px;
        @include sizes (100%, 135%);
        @include filtro;
      }
      .content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @include sizes(90%, 100%);
        max-width: 1140px;
        h2 {
          display: flex;
          align-self: center;
          justify-self: center;
          font-size: 80px;
        }
      }
    }
    .integrantes__descripcion {
      display: flex;
      justify-content: center;
      align-items: center;
      @include bordesContenedor;
      background-color: var(--bordo);
      .owl-carousel {
        width: 90%;
      }
      .owl-item {
        display: flex;
        justify-content: center;
      }
      .card {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow: hidden;
        padding: 20px;
        margin: 0;
        width: 85%;
        min-height: 680px;
        background-color: var(--wheat);
        img {
          @include sizes(200px, 200px);
          margin: 40px 0;
          border-radius: 100%;
        }
        .nombre {
          text-align: center;
          font-size: 30px;
          font-weight: 800;
        }
        .descripcion {
          text-align: center;
          font-family: "Cairo", sans-serif;
        }
      }
      .card--1,
      .card--2,
      .card--3,
      .card--4,
      .card--5,
      .card--6 {
        transition: 400ms;
      }
      .customPrevBtn,
      .customNextBtn {
        @include sizes(40px, 40px);
        text-align: center;
        font-size: 30px;
        border-radius: 100%;
        outline: none;
        cursor: pointer;
        border: 1px solid black;
        background-color: var(--menu);
      }
      .owl-dots {
        display: none;
      }
    }
  }
  //*****************************************SHOWS*********************************************
  .shows {
    .parallaxShows {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      padding: 150px 0;
      height: 60vh;
      color: var(--titulos);
      background-color: #000;
      .bcg3 {
        background: url("../img/foto3.jpg");
        background-position: center;
        background-size: 100% 100%;
        position: absolute;
        top: 0;
        @include sizes(100%, 135%);
        @include filtro;
      }
      .content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @include sizes(90%, 100%);
        max-width: 1140px;
        h3 {
          display: flex;
          align-self: center;
          justify-self: center;
          font-size: 80px;
        }
      }
    }
    .shows__descripcion {
      @include sizes(100%, 500px);
      @include bordesContenedor;
      background-color: var(--bordo);
    }
  }
  //**************************************CONTACTO**********************************************
  .contacto {
    .parallaxContacto {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      padding: 150px 0;
      height: 60vh;
      color: var(--titulos);
      background-color: #000;
      .bcg4 {
        background: url("../img/piano.jpg");
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0px;
        @include sizes(100%, 125%);
        @include filtro;
      }
      .content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @include sizes(90%, 100%);
        max-width: 1140px;
        h4 {
          display: flex;
          align-self: center;
          justify-self: center;
        }
      }
    }
    .contacto__descripcion {
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: 200px;
      @include bordesContenedor;
      background-color: var(--bordo);
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        span {
          margin-left: 10px;
        }
        img {
          @include sizes(40px, 40px);
        }
      }
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin: 20px 0 20px 0px;
        color: white;
        span {
          margin-left: 10px;
        }
        img {
          @include sizes(40px, 40px);
        }
      }
    }
  }
}

//responsive

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    @include sizes(100%, 50vh);
    background-color: black;
    .header__image {
      @include sizes(100%, auto);
    }
  }
  .navBar {
    display: grid;
    grid-template-areas: "menu texto none";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: start;
    height: 35px;
    #laOrtiba {
      display: block;
    }
    .navBar__desktop {
      display: none;
    }
    .menuToggle {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 0;
      overflow: hidden;
      @include sizes(100%, 0);
      background-color: var(--wheat);
      transition: 1s;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-self: center;
        @include sizes(100%, 100%);
        list-style: none;
        li {
          display: block;
          margin-top: 40px;
          border-bottom: 2px solid var(--bordo);
          padding: 10px;
          a {
            display: block;
            margin-left: 20px;
            text-decoration: none;
            font-size: 18px;
            
            color: black;
          }
        }
      }
    }
    label {
      display: block;
      grid-area: menu;
      margin-left: 8px;
    }
    span {
      grid-area: texto;
      justify-self: center;
    }
  }
  main {
    .quienesSomos {
      .parallaxQuienesSomos {
        height: 50vh;
        padding: 0;
        .bcg1{
          @include sizes(100%,100%);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          top: 0;

        }
        .content-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          @include sizes(90%, 100%);
          max-width: 440px;
          h1 {
            display: flex;
            align-self: center;
            justify-self: center;
            text-align: center;
            font-size: 40px;
          }
        }
      }
      .quienesSomos__descripcion {
        height: 50vh;
        line-height: 30px;
        padding: 10px;
        font-size: 20px;
      }
    }
    .integrantes {
      .parallaxIntegrantes {
        max-height: 50vh;
        padding: 0px;
        .bcg2{
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          top: 0;
        }
        .content-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          @include sizes(90%, 100%);
          max-width: 1140px;
          h2 {
            display: flex;
            align-self: center;
            justify-self: center;
            font-size: 40px;
          }
        }
      }
      .integrantes__descripcion {
        display: flex;
        justify-content: space-around;
        min-height: 50vh;
        .opacidad{
          display: none;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 100;
          width: 100vw;
          height: 100vh;
          position: fixed;
          top: 0;
          background-color: rgba(0, 0, 0, 0.514);
        }
        .leerMasFullScreen{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          border-radius: 20px;
          z-index: 100;
          width: 95vw;
          height: 100vh;
          position: fixed;
          background-color: wheat;
          .nombre {
            text-align: center;
            font-size: 25px;
            font-weight: 800;
          }
          img {
            @include sizes(100px, 100px);
            margin: 40px 0;
            border-radius: 100%;
          }
          .descripcion{
            text-align: center;
            font-family: "Cairo", sans-serif;
            font-size: 15px;
            line-height: 15px;
            padding: 5px;

          }
        }
        .owl-carousel {
          width: 90%;
        }
        .owl-item {
          display: flex;
          justify-content: center;
        }
        .card {
          width: 100%;
          min-height: 0;
          max-height: 600px;
          padding: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
          button{
            width: 100px;
            height: 50px;
            border: 2px solid var(--bordo);
            border-radius: 20px;
            background-color: rgb(252, 217, 153);
          }
          img {
            @include sizes(150px, 150px);
            margin: 40px 0;
            border-radius: 100%;
          }
          .nombre {
            text-align: center;
            font-size: 25px;
            font-weight: 800;
          }
          .descripcion {
            display: none;
          }
        }
        .customPrevBtn,
        .customNextBtn {
          display: none;
        }
        .owl-dots {
          display: flex;
          justify-content: center;
          @include sizes(100%, 30px);
          .owl-dot {
            display: inline;
            @include sizes(10px, 10px);
            margin: 5px 7px;
            background: #d6d6d6;
            transition: opacity 0.2s ease;
            border-radius: 30px;
          }
          .owl-dot.active {
            background-color: var(--wheat);
          }
        }
      }
    }
    .shows {
      .parallaxShows {
        height: 30vh;
        .bcg3{
          @include sizes(100%, 140%);
        }
        .content-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          @include sizes(90%, 100%);
          max-width: 1140px;
          h3 {
            font-size: 50px;
          }
        }
      }
      .shows__descripcion {
        @include sizes(100%, 500px);
        @include bordesContenedor;
        background-color: var(--bordo);
      }
    }
  }
  .contacto {
    overflow: hidden;
    .parallaxContacto {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      height: 30vh;
      padding: 150px 0;
      color: var(--titulos);
      background-color: #000;
      .bcg4{
        @include sizes(100%, 140%);
      }
      .content-wrapper {
        h4 {
          font-size: 50px;
        }
      }
    }
  }
  .contacto__descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px !important;
    a {
      span {
        margin-left: 10px;
      }
      img {
        @include sizes(20px, 20px);
        margin-left: 15px;
      }
    }
  }
}
