* {
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black; }
  .header .header__image {
    width: 96%;
    height: 96%; }
