* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  min-height: 2500px;
  scroll-behavior: smooth; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black; }
  .header .header__image {
    width: 96%;
    height: 96%; }

.navBar {
  z-index: 99;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: #b7a735; }
  .navBar label,
  .navBar input,
  .navBar .menuToggle {
    display: none; }
  .navBar .navBar__desktop {
    width: 100%;
    display: grid;
    grid-template-areas: "nosotros integrantes shows contacto";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    list-style: none;
    text-align: center; }
    .navBar .navBar__desktop a {
      color: white;
      text-decoration: none;
      transition: 350ms;
      font-weight: 800;
      user-select: none; }
      .navBar .navBar__desktop a:hover {
        color: #3a090a;
        cursor: pointer; }
    .navBar .navBar__desktop #quienesSomos {
      grid-area: "nosotros"; }
    .navBar .navBar__desktop #integrantes {
      grid-area: "shows"; }
    .navBar .navBar__desktop #contacto {
      grid-area: "contacto"; }

main .quienesSomos .parallaxQuienesSomos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding: 150px 0;
  color: #fff3dc;
  background-color: #000;
  overflow: hidden;
  position: relative; }
  main .quienesSomos .parallaxQuienesSomos .bcg1 {
    background: url("../img/foto.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    filter: brightness(65%) blur(2px);
    width: 100%;
    height: 150%;
    top: 0;
    z-index: 1;
    opacity: 1; }
  main .quienesSomos .parallaxQuienesSomos .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    max-width: 1140px;
    position: relative;
    font-size: 80px;
    z-index: 2; }
    main .quienesSomos .parallaxQuienesSomos .content-wrapper h1 {
      display: flex;
      align-self: center;
      justify-self: center; }

main .quienesSomos .quienesSomos__descripcion {
  display: flex;
  line-height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 200px;
  padding: 30px;
  font-size: 25px;
  color: wheat;
  background-color: #3a090a;
  border-top: 4px double wheat;
  border-bottom: 4px double wheat; }

main .integrantes .parallaxIntegrantes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding: 150px 0;
  color: #fff3dc;
  background-color: #000;
  overflow: hidden;
  position: relative; }
  main .integrantes .parallaxIntegrantes .bcg2 {
    background: url("../img/foto2.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    filter: brightness(65%) blur(2px);
    width: 100%;
    height: 150%;
    top: 0;
    z-index: 1;
    opacity: 1; }
  main .integrantes .parallaxIntegrantes .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    max-width: 1140px;
    position: relative;
    font-size: 80px;
    z-index: 2; }
    main .integrantes .parallaxIntegrantes .content-wrapper h2 {
      display: flex;
      align-self: center;
      justify-self: center; }

main .integrantes .integrantes__descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 850px;
  border-top: 4px double wheat;
  border-bottom: 4px double wheat;
  background-color: #3a090a; }
  main .integrantes .integrantes__descripcion .owl-carousel {
    width: 90%; }
  main .integrantes .integrantes__descripcion .owl-item {
    display: flex;
    justify-content: center; }
  main .integrantes .integrantes__descripcion .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 85%;
    min-height: 680px;
    background-color: wheat;
    overflow: hidden;
    padding: 20px;
    margin: 0;
    border: 2px double #3a090a; }
    main .integrantes .integrantes__descripcion .card img {
      width: 200px;
      height: 200px;
      margin: 40px 0;
      border-radius: 100%; }
    main .integrantes .integrantes__descripcion .card .nombre {
      text-align: center;
      font-size: 30px;
      font-weight: 800; }
    main .integrantes .integrantes__descripcion .card .descripcion {
      text-align: center;
      font-family: 'Cairo', sans-serif; }
  main .integrantes .integrantes__descripcion .card--1,
  main .integrantes .integrantes__descripcion .card--2,
  main .integrantes .integrantes__descripcion .card--3,
  main .integrantes .integrantes__descripcion .card--4,
  main .integrantes .integrantes__descripcion .card--5,
  main .integrantes .integrantes__descripcion .card--6 {
    transition: 1s; }
    main .integrantes .integrantes__descripcion .card--1:hover,
    main .integrantes .integrantes__descripcion .card--2:hover,
    main .integrantes .integrantes__descripcion .card--3:hover,
    main .integrantes .integrantes__descripcion .card--4:hover,
    main .integrantes .integrantes__descripcion .card--5:hover,
    main .integrantes .integrantes__descripcion .card--6:hover {
      border: 4px solid white; }
  main .integrantes .integrantes__descripcion .customPrevBtn,
  main .integrantes .integrantes__descripcion .customNextBtn {
    text-align: center;
    border-radius: 100%;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: #b7a735;
    outline: none;
    cursor: pointer; }
  main .integrantes .integrantes__descripcion .owl-dots {
    display: none; }

main .shows .parallaxShows {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding: 150px 0;
  color: #fff3dc;
  background-color: #000;
  overflow: hidden;
  position: relative; }
  main .shows .parallaxShows .bcg3 {
    background: url("../img/foto.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    filter: brightness(65%) blur(2px);
    width: 100%;
    height: 150%;
    top: 0;
    z-index: 1;
    opacity: 1; }
  main .shows .parallaxShows .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    max-width: 1140px;
    position: relative;
    font-size: 80px;
    z-index: 2; }
    main .shows .parallaxShows .content-wrapper h2 {
      display: flex;
      align-self: center;
      justify-self: center; }

main .shows .shows__descripcion {
  width: 100%;
  height: 500px;
  border-top: 4px double wheat;
  border-bottom: 4px double wheat;
  background-color: #3a090a; }

main .contacto .parallaxContacto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding: 150px 0;
  color: #fff3dc;
  background-color: #000;
  overflow: hidden;
  position: relative; }
  main .contacto .parallaxContacto .bcg4 {
    background: url("../img/piano.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    filter: brightness(65%) blur(2px);
    width: 100%;
    height: 150%;
    top: 0;
    z-index: 1;
    opacity: 1; }
  main .contacto .parallaxContacto .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    max-width: 1140px;
    position: relative;
    font-size: 80px;
    z-index: 2; }
    main .contacto .parallaxContacto .content-wrapper h2 {
      display: flex;
      align-self: center;
      justify-self: center; }

main .contacto .contacto__descripcion {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  border-top: 4px double wheat;
  border-bottom: 4px double wheat;
  background-color: #3a090a;
  color: white; }
  main .contacto .contacto__descripcion a {
    display: flex;
    justify-content: ce;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 20px 0 20px 0px; }
    main .contacto .contacto__descripcion a span {
      margin-left: 10px; }
    main .contacto .contacto__descripcion a img {
      width: 40px;
      height: 40px; }
  main .contacto .contacto__descripcion .redesSociales {
    display: grid;
    grid-template-areas: "instagram " "facebook";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .contacto .contacto__descripcion .redesSociales p {
      grid-area: redesSociales;
      text-align: center;
      margin-bottom: 30px;
      margin-left: 40px;
      font-size: 30px; }
    main .contacto .contacto__descripcion .redesSociales a {
      display: flex;
      justify-content: ce;
      align-items: center;
      text-decoration: none;
      color: white;
      margin: 20px 0 20px 0px; }
      main .contacto .contacto__descripcion .redesSociales a span {
        margin-left: 10px; }
      main .contacto .contacto__descripcion .redesSociales a img {
        width: 40px;
        height: 40px; }
    main .contacto .contacto__descripcion .redesSociales .instagram {
      grid-area: instagram; }
    main .contacto .contacto__descripcion .redesSociales .facebook {
      grid-area: facebook; }
  main .contacto .contacto__descripcion .mensaje {
    display: grid;
    grid-template-areas: "envianosTitulos" "email" "whatsapp";
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    grid-area: mensajes; }
    main .contacto .contacto__descripcion .mensaje p {
      text-align: center;
      margin-bottom: 30px;
      margin-left: 40px;
      font-size: 30px;
      grid-area: envianosTitulos; }
    main .contacto .contacto__descripcion .mensaje a {
      display: flex;
      justify-content: start;
      align-items: center;
      text-decoration: none;
      color: white;
      margin: 20px 0 20px 150px; }
      main .contacto .contacto__descripcion .mensaje a span {
        margin-left: 20px; }
      main .contacto .contacto__descripcion .mensaje a img {
        width: 40px;
        height: 40px; }
    main .contacto .contacto__descripcion .mensaje .email {
      grid-area: email; }
    main .contacto .contacto__descripcion .mensaje .whatsapp {
      grid-area: whatsapp; }

@media (max-width: 480px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: black; }
    .header .header__image {
      width: 100%;
      height: auto; }
  .navBar {
    height: 35px;
    display: grid;
    grid-template-areas: "menu texto none";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: start; }
    .navBar .navBar__desktop {
      display: none; }
    .navBar label {
      display: block;
      grid-area: menu;
      margin-left: 8px; }
    .navBar span {
      grid-area: texto;
      justify-self: center; }
  main .quienesSomos .parallaxQuienesSomos {
    height: 30vh; }
    main .quienesSomos .parallaxQuienesSomos .bcg1 {
      background: url("../img/fotoCelular.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 1; }
    main .quienesSomos .parallaxQuienesSomos .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 100%;
      max-width: 440px;
      position: relative;
      font-size: 80px;
      z-index: 2; }
      main .quienesSomos .parallaxQuienesSomos .content-wrapper h1 {
        display: flex;
        font-size: 40px;
        align-self: center;
        justify-self: center;
        text-align: center; }
  main .integrantes .parallaxIntegrantes {
    height: 30vh; }
    main .integrantes .parallaxIntegrantes .bcg2 {
      background: url("../img/foto2Celular.jpg");
      background-position: 20%;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%; }
    main .integrantes .parallaxIntegrantes .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 100%;
      max-width: 1140px;
      position: relative;
      font-size: 80px;
      z-index: 2; }
      main .integrantes .parallaxIntegrantes .content-wrapper h2 {
        font-size: 40px;
        display: flex;
        align-self: center;
        justify-self: center; }
  main .integrantes .integrantes__descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 850px;
    border-top: 4px double wheat;
    border-bottom: 4px double wheat;
    background-color: #3a090a; }
    main .integrantes .integrantes__descripcion .owl-carousel {
      width: 90%; }
    main .integrantes .integrantes__descripcion .owl-item {
      display: flex;
      justify-content: center; }
    main .integrantes .integrantes__descripcion .card {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      width: 85%;
      min-height: 680px;
      background-color: wheat;
      overflow: hidden;
      padding: 20px;
      margin: 0;
      border: 2px double #3a090a; }
      main .integrantes .integrantes__descripcion .card img {
        width: 200px;
        height: 200px;
        margin: 40px 0;
        border-radius: 100%; }
      main .integrantes .integrantes__descripcion .card .nombre {
        text-align: center;
        font-size: 30px;
        font-weight: 800; }
      main .integrantes .integrantes__descripcion .card .descripcion {
        text-align: center;
        font-family: 'Cairo', sans-serif; }
    main .integrantes .integrantes__descripcion .card--1,
    main .integrantes .integrantes__descripcion .card--2,
    main .integrantes .integrantes__descripcion .card--3,
    main .integrantes .integrantes__descripcion .card--4,
    main .integrantes .integrantes__descripcion .card--5,
    main .integrantes .integrantes__descripcion .card--6 {
      transition: 1s; }
      main .integrantes .integrantes__descripcion .card--1:hover,
      main .integrantes .integrantes__descripcion .card--2:hover,
      main .integrantes .integrantes__descripcion .card--3:hover,
      main .integrantes .integrantes__descripcion .card--4:hover,
      main .integrantes .integrantes__descripcion .card--5:hover,
      main .integrantes .integrantes__descripcion .card--6:hover {
        border: 4px solid white; }
    main .integrantes .integrantes__descripcion .customPrevBtn,
    main .integrantes .integrantes__descripcion .customNextBtn {
      text-align: center;
      border-radius: 100%;
      border: 1px solid black;
      width: 40px;
      height: 40px;
      font-size: 30px;
      background-color: #b7a735;
      outline: none;
      cursor: pointer; }
    main .integrantes .integrantes__descripcion .owl-dots {
      display: none; }
  .contacto {
    display: none; } }
