@keyframes menuDespliegue {
  0% {
    height: 0; }
  100% {
    height: 100vh; } }

@keyframes menuRepliegue {
  0% {
    height: 100vh; }
  100% {
    height: 0vh; } }

* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }
  html::-webkit-scrollbar {
    width: 10px; }
  html::-webkit-scrollbar-track {
    background-color: #242424; }
  html::-webkit-scrollbar-thumb {
    border-radius: 22px;
    background-color: wheat;
    border: 1px solid black; }
  html::-webkit-scrollbar-corner {
    border-radius: 22px; }

body {
  min-height: 2500px;
  scroll-behavior: smooth; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black; }
  .header .header__image {
    width: 100%;
    height: 100%; }

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 99;
  background-color: #b7a735; }
  .navBar #laOrtiba {
    display: none; }
  .navBar label,
  .navBar input,
  .navBar .menuToggle {
    display: none; }
  .navBar .navBar__desktop {
    display: grid;
    grid-template-areas: "nosotros integrantes shows contacto";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 100%; }
    .navBar .navBar__desktop a {
      color: white;
      text-decoration: none;
      transition: 350ms;
      font-weight: 800;
      user-select: none; }
      .navBar .navBar__desktop a:hover {
        color: #3a090a;
        cursor: pointer; }
    .navBar .navBar__desktop #quienesSomos {
      grid-area: "nosotros"; }
    .navBar .navBar__desktop #integrantes {
      grid-area: "shows"; }
    .navBar .navBar__desktop #contacto {
      grid-area: "contacto"; }
  .navBar .menuToggle ul li {
    display: none; }
    .navBar .menuToggle ul li a {
      display: none; }

main .quienesSomos .parallaxQuienesSomos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 60vh;
  padding: 150px 0;
  color: #fff3dc;
  background-color: #000; }
  main .quienesSomos .parallaxQuienesSomos .bcg1 {
    background: url("../img/foto.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 150%;
    filter: brightness(65%) blur(2px); }
  main .quienesSomos .parallaxQuienesSomos .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 100%;
    max-width: 1140px; }
    main .quienesSomos .parallaxQuienesSomos .content-wrapper h1 {
      display: flex;
      align-self: center;
      justify-self: center;
      text-align: center;
      font-size: 70px; }

main .quienesSomos .quienesSomos__descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
  padding: 30px;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  color: wheat;
  background-color: #3a090a;
  border-top: 4px double wheat;
  border-bottom: 4px double wheat; }

main .integrantes .parallaxIntegrantes {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 60vh;
  padding: 150px 0;
  color: #fff3dc;
  background-color: #000; }
  main .integrantes .parallaxIntegrantes .bcg2 {
    background: url("../img/foto2.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 150%;
    filter: brightness(65%) blur(2px); }
  main .integrantes .parallaxIntegrantes .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 100%;
    max-width: 1140px; }
    main .integrantes .parallaxIntegrantes .content-wrapper h2 {
      display: flex;
      align-self: center;
      justify-self: center;
      font-size: 80px; }

main .integrantes .integrantes__descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px double wheat;
  border-bottom: 4px double wheat;
  background-color: #3a090a; }
  main .integrantes .integrantes__descripcion .owl-carousel {
    width: 90%; }
  main .integrantes .integrantes__descripcion .owl-item {
    display: flex;
    justify-content: center; }
  main .integrantes .integrantes__descripcion .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    margin: 0;
    width: 85%;
    min-height: 680px;
    background-color: wheat; }
    main .integrantes .integrantes__descripcion .card img {
      width: 200px;
      height: 200px;
      margin: 40px 0;
      border-radius: 100%; }
    main .integrantes .integrantes__descripcion .card .nombre {
      text-align: center;
      font-size: 30px;
      font-weight: 800; }
    main .integrantes .integrantes__descripcion .card .descripcion {
      text-align: center;
      font-family: "Cairo", sans-serif; }
  main .integrantes .integrantes__descripcion .card--1,
  main .integrantes .integrantes__descripcion .card--2,
  main .integrantes .integrantes__descripcion .card--3,
  main .integrantes .integrantes__descripcion .card--4,
  main .integrantes .integrantes__descripcion .card--5,
  main .integrantes .integrantes__descripcion .card--6 {
    transition: 400ms; }
  main .integrantes .integrantes__descripcion .customPrevBtn,
  main .integrantes .integrantes__descripcion .customNextBtn {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    background-color: #b7a735; }
  main .integrantes .integrantes__descripcion .owl-dots {
    display: none; }

main .shows .parallaxShows {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 150px 0;
  height: 60vh;
  color: #fff3dc;
  background-color: #000; }
  main .shows .parallaxShows .bcg3 {
    background: url("../img/foto.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 150%;
    filter: brightness(65%) blur(2px); }
  main .shows .parallaxShows .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 100%;
    max-width: 1140px; }
    main .shows .parallaxShows .content-wrapper h3 {
      display: flex;
      align-self: center;
      justify-self: center;
      font-size: 80px; }

main .shows .shows__descripcion {
  width: 100%;
  height: 500px;
  border-top: 4px double wheat;
  border-bottom: 4px double wheat;
  background-color: #3a090a; }

main .contacto .parallaxContacto {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 150px 0;
  height: 60vh;
  color: #fff3dc;
  background-color: #000; }
  main .contacto .parallaxContacto .bcg4 {
    background: url("../img/piano.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 150%;
    filter: brightness(65%) blur(2px); }
  main .contacto .parallaxContacto .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 100%;
    max-width: 1140px; }
    main .contacto .parallaxContacto .content-wrapper h4 {
      display: flex;
      align-self: center;
      justify-self: center; }

main .contacto .contacto__descripcion {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  border-top: 4px double wheat;
  border-bottom: 4px double wheat;
  background-color: #3a090a; }
  main .contacto .contacto__descripcion a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white; }
    main .contacto .contacto__descripcion a span {
      margin-left: 10px; }
    main .contacto .contacto__descripcion a img {
      width: 40px;
      height: 40px; }
  main .contacto .contacto__descripcion a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 20px 0 20px 0px;
    color: white; }
    main .contacto .contacto__descripcion a span {
      margin-left: 10px; }
    main .contacto .contacto__descripcion a img {
      width: 40px;
      height: 40px; }

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: black; }
    .header .header__image {
      width: 100%;
      height: auto; }
  .navBar {
    display: grid;
    grid-template-areas: "menu texto none";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: start;
    height: 35px; }
    .navBar #laOrtiba {
      display: block; }
    .navBar .navBar__desktop {
      display: none; }
    .navBar .menuToggle {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 0;
      overflow: hidden;
      width: 100%;
      height: 0;
      background-color: wheat;
      transition: 1s; }
      .navBar .menuToggle ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-self: center;
        width: 100%;
        height: 100%;
        list-style: none; }
        .navBar .menuToggle ul li {
          display: block;
          margin-top: 40px;
          border-bottom: 2px solid #3a090a;
          padding: 10px; }
          .navBar .menuToggle ul li a {
            display: block;
            margin-left: 20px;
            text-decoration: none;
            font-size: 18px;
            color: black; }
    .navBar label {
      display: block;
      grid-area: menu;
      margin-left: 8px; }
    .navBar span {
      grid-area: texto;
      justify-self: center; }
  main .quienesSomos .parallaxQuienesSomos {
    height: 30vh; }
    main .quienesSomos .parallaxQuienesSomos .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 90%;
      height: 100%;
      max-width: 440px; }
      main .quienesSomos .parallaxQuienesSomos .content-wrapper h1 {
        display: flex;
        align-self: center;
        justify-self: center;
        text-align: center;
        font-size: 40px; }
  main .quienesSomos .quienesSomos__descripcion {
    line-height: 30px;
    padding: 10px;
    font-size: 20px; }
  main .integrantes .parallaxIntegrantes {
    height: 30vh; }
    main .integrantes .parallaxIntegrantes .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 90%;
      height: 100%;
      max-width: 1140px; }
      main .integrantes .parallaxIntegrantes .content-wrapper h2 {
        display: flex;
        align-self: center;
        justify-self: center;
        font-size: 40px; }
  main .integrantes .integrantes__descripcion {
    display: flex;
    justify-content: space-around; }
    main .integrantes .integrantes__descripcion .owl-carousel {
      width: 90%; }
    main .integrantes .integrantes__descripcion .owl-item {
      display: flex;
      justify-content: center; }
    main .integrantes .integrantes__descripcion .card {
      width: 100%;
      min-height: 782px;
      padding: 20px;
      margin-top: 20px;
      margin-bottom: 20px; }
      main .integrantes .integrantes__descripcion .card img {
        width: 150px;
        height: 150px;
        margin: 40px 0;
        border-radius: 100%; }
      main .integrantes .integrantes__descripcion .card .nombre {
        text-align: center;
        font-size: 25px;
        font-weight: 800; }
      main .integrantes .integrantes__descripcion .card .descripcion {
        text-align: center;
        font-size: 15px;
        line-height: 20px; }
    main .integrantes .integrantes__descripcion .customPrevBtn,
    main .integrantes .integrantes__descripcion .customNextBtn {
      display: none; }
    main .integrantes .integrantes__descripcion .owl-dots {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 30px; }
      main .integrantes .integrantes__descripcion .owl-dots .owl-dot {
        display: inline;
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: #d6d6d6;
        transition: opacity 0.2s ease;
        border-radius: 30px; }
      main .integrantes .integrantes__descripcion .owl-dots .owl-dot.active {
        background-color: wheat; }
  main .shows .parallaxShows {
    height: 30vh; }
    main .shows .parallaxShows .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 90%;
      height: 100%;
      max-width: 1140px; }
      main .shows .parallaxShows .content-wrapper h3 {
        font-size: 50px; }
  main .shows .shows__descripcion {
    width: 100%;
    height: 500px;
    border-top: 4px double wheat;
    border-bottom: 4px double wheat;
    background-color: #3a090a; }
  .contacto {
    overflow: hidden; }
    .contacto .parallaxContacto {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      height: 60vh;
      padding: 150px 0;
      color: #fff3dc;
      background-color: #000; }
      .contacto .parallaxContacto .content-wrapper h4 {
        font-size: 50px; }
  .contacto__descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px !important; }
    .contacto__descripcion a span {
      margin-left: 10px; }
    .contacto__descripcion a img {
      width: 20px;
      height: 20px;
      margin-left: 15px; } }

@media (min-width: 321px) {
  .card {
    min-height: 680px; } }

@media (min-width: 426px) {
  .header {
    height: 500px; }
  .integrantes__descripcion {
    min-height: auto; }
    .integrantes__descripcion .card {
      width: 75% !important;
      min-height: 500px; } }

@media (min-width: 768px) {
  .header {
    height: 100vh; }
  .integrantes .integrantes__descripcion {
    min-height: 1000px; }
  .contacto .content-wrapper h4 {
    font-size: 80px; } }
